<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ootd</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>GmarketSansTTFBold.ttf</string>
		<string>GmarketSansTTFLight.ttf</string>
		<string>GmarketSansTTFMedium.ttf</string>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
		<string>SCDream1.otf</string>
		<string>SCDream2.otf</string>
		<string>SCDream3.otf</string>
		<string>SCDream4.otf</string>
		<string>SCDream5.otf</string>
		<string>SCDream6.otf</string>
		<string>SCDream7.otf</string>
		<string>SCDream8.otf</string>
		<string>SCDream9.otf</string>
		<string>Freesentation-1Thin.ttf</string>
		<string>Freesentation-2ExtraLight.ttf</string>
		<string>Freesentation-3Light.ttf</string>
		<string>Freesentation-4Regular.ttf</string>
		<string>Freesentation-5Medium.ttf</string>
		<string>Freesentation-6SemiBold.ttf</string>
		<string>Freesentation-7Bold.ttf</string>
		<string>Freesentation-8ExtraBold.ttf</string>
		<string>Freesentation-9Black.ttf</string>
		<string>Paperlogy-1Thin.ttf</string>
		<string>Paperlogy-2ExtraLight.ttf</string>
		<string>Paperlogy-3Light.ttf</string>
		<string>Paperlogy-4Regular.ttf</string>
		<string>Paperlogy-5Medium.ttf</string>
		<string>Paperlogy-6SemiBold.ttf</string>
		<string>Paperlogy-7Bold.ttf</string>
		<string>Paperlogy-8ExtraBold.ttf</string>
		<string>Paperlogy-9Black.ttf</string>
		<string>SUIT-Bold.ttf</string>
		<string>SUIT-ExtraBold.ttf</string>
		<string>SUIT-ExtraLight.ttf</string>
		<string>SUIT-Heavy.ttf</string>
		<string>SUIT-Light.ttf</string>
		<string>SUIT-Medium.ttf</string>
		<string>SUIT-Regular.ttf</string>
		<string>SUIT-SemiBold.ttf</string>
		<string>SUIT-Thin.ttf</string>
		<string>MinSans-Black.otf</string>
		<string>MinSans-Bold.otf</string>
		<string>MinSans-ExtraBold.otf</string>
		<string>MinSans-ExtraLight.otf</string>
		<string>MinSans-Light.otf</string>
		<string>MinSans-Medium.otf</string>
		<string>MinSans-Regular.otf</string>
		<string>MinSans-SemiBold.otf</string>
		<string>MinSans-Thin.otf</string>
		<string>LINESeedKR-Bd.ttf</string>
		<string>LINESeedKR-Rg.ttf</string>
		<string>LINESeedKR-Th.ttf</string>
		<string>NanumSquareNeo-aLt.ttf</string>
		<string>NanumSquareNeo-bRg.ttf</string>
		<string>NanumSquareNeo-cBd.ttf</string>
		<string>NanumSquareNeo-dEb.ttf</string>
		<string>NanumSquareNeo-eHv.ttf</string>
		<string>LeferiBaseBold.ttf</string>
		<string>LeferiBaseRegular.ttf</string>
		<string>LeferiPointBlack.ttf</string>
		<string>LeferiPointBlackOblique.ttf</string>
		<string>LeferiPointSpecial.ttf</string>
		<string>LeferiPointSpecialItalic.ttf</string>
		<string>LeferiPointWhite.ttf</string>
		<string>LeferiPointWhiteOblique.ttf</string>
		<string>Cafe24Ssurround-v2.0.ttf</string>
		<string>DalseoDarling.ttf</string>
		<string>DalseoHealingBold.ttf</string>
		<string>DalseoHealingMedium.ttf</string>
		<string>NanumGothic.ttf</string>
		<string>NanumGothicBold.ttf</string>
		<string>NanumGothicExtraBold.ttf</string>
		<string>NanumGothicLight.ttf</string>
	</array>
</dict>
</plist>
